.stock-chart-container {
  background-color: #323131;
  padding: 10px;
  width: 90%;
  margin: auto;
  height: 500px;
}

.recharts-legend-wrapper {
  color: #ffffff;
  padding-bottom: 20px;
}

.recharts-cartesian-axis-ticks{
  font-size: 12px;
}
